<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
  	<title>WAITINGFORFATE</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Free Responsive Html5 Templates">
    <meta name="author" content="">

	<!-- styles -->
	
    <link href="../css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href="../font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
	<link rel="stylesheet" href="../css/style.css">
	<link rel="stylesheet" href="../css/menu.min.css">
	
	
    <!-- HTML5 Shim and Respond.loginjs IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.loginjs doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
	<![endif]-->




</head>

<body id="wrapper">

	<!-- /////////////////////////////////////////Navigation -->
	<button id="mm-menu-toggle" class="mm-menu-toggle">Toggle Menu</button>
	<nav id="mm-menu" class="mm-menu">
		<div class="mm-menu__header">
			<h2 class="mm-menu__title">WAITINGFORFATE</h2>
		</div>
		<ul class="mm-menu__items">
			<li class="mm-menu__item">
				<a class="mm-menu__link" href="index">
					<span class="mm-menu__link-text"><i class="fa fa-home"></i> Home</span>
				</a>
			</li>
			<li class="mm-menu__item">
				<a class="mm-menu__link" href="index">
					<span class="mm-menu__link-text"><i class="fa fa-user"></i> Blog</span>
				</a>
			</li>
			<li class="mm-menu__item">
				<a class="mm-menu__link" href="contact">
					<span class="mm-menu__link-text"><i class="fa fa-heart"></i> Contact</span>
				</a>
			</li>
			<li class="mm-menu__item">
				<a class="mm-menu__link" href="player">
					<span class="mm-menu__link-text"><i class="fa fa-heart"></i> 播放器</span>
				</a>
			</li>
			<li class="mm-menu__item">
				<a class="mm-menu__link" href="photo">
					<span class="mm-menu__link-text"><i class="fa fa-heart"></i> 照片</span>
				</a>
			</li>
			<li class="mm-menu__item">
				<a class="mm-menu__link" href="louver">
					<span class="mm-menu__link-text"><i class="fa fa-heart"></i> 百叶照片</span>
				</a>
			</li>
			<li class="mm-menu__item">
				<a class="mm-menu__link" href="music">
					<span class="mm-menu__link-text"><i class="fa fa-heart"></i> Music</span>
				</a>
			</li>
			<li class="mm-menu__item">
				<a class="mm-menu__link" href="single">
					<span class="mm-menu__link-text"><i class="fa fa-inbox"></i> 版本更新公告</span>
				</a>
			</li>
		</ul>
	</nav><!-- /nav -->
	
	<!-- /////////////////////////////////////////Header -->
	<div class="top-header">
		<div class="container">
			<ul class="list-inline top-social">
				<li><a href="#"><i class="fa fa-facebook"></i></a></li>
				<li><a href="#"><i class="fa fa-twitter"></i></a></li>
				<li><a href="#"><i class="fa fa-instagram"></i></a></li>
				<li><a href="#"><i class="fa fa-pinterest"></i></a></li>
			</ul>
		</div>
	</div>
	<div class="svg-container nav-svg svg-block">
		<svg xmlns="http://www.w3.org/2000/svg" version="1.1" viewBox="0 0 1950 150">
		  <g transform="translate(0,-902.36218)"></g>
		  <path d="m 898.41609,-33.21176 0.01,0 -0.005,-0.009 -0.005,0.009 z"></path>
		  <path d="m 898.41609,-33.21176 0.01,0 -0.005,-0.009 -0.005,0.009 z"></path>
		  <path d="M 0,150 0,0 1925,0"></path>
		</svg>
	</div>
	<header id="masthead" class="site-header" role="banner" style="background-position: 50% -50px;">
		<div class="overlay"></div>
		<div class="container">
			<div class="site-branding">
				<a href="" title="WAITINGFORFATE"><img class="site-logo" src="../images/logo1.png" alt="WAITINGFORFATE"></a>
			</div><!-- .site-branding -->
		</div>
		<div class="svg-container header-svg svg-block">
			<svg xmlns="http://www.w3.org/2000/svg" version="1.1" viewBox="0 0 1890 150">
				<g transform="translate(0,-902.36218)"></g>
				  <path d="m 898.41609,-33.21176 0.01,0 -0.005,-0.009 -0.005,0.009 z"></path>
				  <path d="m 898.41609,-33.21176 0.01,0 -0.005,-0.009 -0.005,0.009 z"></path>
				  <path d="m 1925,0 0,150 -1925,0"></path>
			</svg>
		</div>		
	</header><!-- #masthead -->
	<!-- Header -->
	
	
	<!-- /////////////////////////////////////////Content -->
	<div id="page-content" class="index-page">
		
		<!-- ////////////Content Box 01 -->
		<section class="box-content box-5 box-style-3" id="nav-blog">
			<div class="container">
				<div class="row">
					<div class="col-md-4">
						<div class="box-item">
							<div class="svg-container post-svg svg-block">
								<svg xmlns="http://www.w3.org/2000/svg" version="1.1" viewBox="0 0 1950 150">
								  <g transform="translate(0,-902.36218)"></g>
								  <path d="m 898.41609,-33.21176 0.01,0 -0.005,-0.009 -0.005,0.009 z"></path>
								  <path d="m 898.41609,-33.21176 0.01,0 -0.005,-0.009 -0.005,0.009 z"></path>
								  <path d="M 0,150 0,0 1925,0"></path>
								</svg>
							</div>
							<div class="entry-thumb">
								<img class="img-responsive" src="../images/simple.jpg">
								<a class="thumb-link" href="../single"><i class="fa fa-link"></i></a>
							</div>
							<div class="content">
								<h3 class="entry-title">
									<a href="">Mind Language</a>
								</h3>
								<div id="titleo">然而世事千帆而过，路的尽头终会是温柔和月光。</div>
								<span><div id="texto">Sep 26, 2019 BY EO</div></span><br>
							</div>
							<div class="read-more">
								<a href="">Continue reading …</a>
							</div>
							<div class="svg-container post-bottom-svg svg-block">
								<svg xmlns="http://www.w3.org/2000/svg" version="1.1" viewBox="0 0 1890 150">
									<g transform="translate(0,-902.36218)"></g>
									  <path d="m 898.41609,-33.21176 0.01,0 -0.005,-0.009 -0.005,0.009 z"></path>
									  <path d="m 898.41609,-33.21176 0.01,0 -0.005,-0.009 -0.005,0.009 z"></path>
									  <path d="m 1925,0 0,150 -1925,0"></path>
								</svg>
							</div>	
						</div>
					</div>
					<div class="col-md-4">
						<div class="box-item">
							<div class="svg-container post-svg svg-block">
								<svg xmlns="http://www.w3.org/2000/svg" version="1.1" viewBox="0 0 1950 150">
								  <g transform="translate(0,-902.36218)"></g>
								  <path d="m 898.41609,-33.21176 0.01,0 -0.005,-0.009 -0.005,0.009 z"></path>
								  <path d="m 898.41609,-33.21176 0.01,0 -0.005,-0.009 -0.005,0.009 z"></path>
								  <path d="M 0,150 0,0 1925,0"></path>
								</svg>
							</div>
							<div class="entry-thumb">
								<img class="img-responsive" src="../images/ten.jpg">
								<a class="thumb-link" href="https://baike.baidu.com/item/%E6%88%91%E4%BB%AC%E4%BB%8D%E6%9C%AA%E7%9F%A5%E9%81%93%E9%82%A3%E5%A4%A9%E6%89%80%E7%9C%8B%E8%A7%81%E7%9A%84%E8%8A%B1%E7%9A%84%E5%90%8D%E5%AD%97%E3%80%82/390746?fromtitle=%E6%88%91%E4%BB%AC%E4%BB%8D%E6%9C%AA%E7%9F%A5%E9%81%93%E9%82%A3%E5%A4%A9%E6%89%80%E7%9C%8B%E8%A7%81%E7%9A%84%E8%8A%B1%E7%9A%84%E5%90%8D%E5%AD%97&fromid=1632358"><i class="fa fa-link"></i></a>
							</div>
							<div class="content">
								<h3 class="entry-title">
									<a href="">不完美</a>
								</h3>
								<p>想要明亮地发光，想要去远方，更想眼里都是星河闪闪的极致温柔。这万千风月啊，你尽管悉数收尽眼底，往后笔端是生出睥睨盛情也好，这颗心始终捂不热也罢，我只恨不得披星戴月，来衬这世间的一切风云荣华。</p>
								<span>Sep 26, 2019 BY EO</span><br>
								<a class="btn btn-1" href="">Read More</a>
							</div>
							<div class="read-more">
								<a href="http://baijiahao.baidu.com/s?id=1600244856710049623&wfr=spider&for=pc">Continue reading …</a>
							</div>
							<div class="svg-container post-bottom-svg svg-block">
								<svg xmlns="http://www.w3.org/2000/svg" version="1.1" viewBox="0 0 1890 150">
									<g transform="translate(0,-902.36218)"></g>
									  <path d="m 898.41609,-33.21176 0.01,0 -0.005,-0.009 -0.005,0.009 z"></path>
									  <path d="m 898.41609,-33.21176 0.01,0 -0.005,-0.009 -0.005,0.009 z"></path>
									  <path d="m 1925,0 0,150 -1925,0"></path>
								</svg>
							</div>
						</div>
						
					</div>
					<div class="col-md-4">
						<div class="box-item">
							<div class="svg-container post-svg svg-block">
								<svg xmlns="http://www.w3.org/2000/svg" version="1.1" viewBox="0 0 1950 150">
								  <g transform="translate(0,-902.36218)"></g>
								  <path d="m 898.41609,-33.21176 0.01,0 -0.005,-0.009 -0.005,0.009 z"></path>
								  <path d="m 898.41609,-33.21176 0.01,0 -0.005,-0.009 -0.005,0.009 z"></path>
								  <path d="M 0,150 0,0 1925,0"></path>
								</svg>
							</div>
							<div class="entry-thumb">
								<img class="img-responsive" src="../images/xia.jpg">
								<a class="thumb-link" href="https://www.bilibili.com/bangumi/media/md1660"><i class="fa fa-link"></i></a>
							</div>
							<div class="content">
								<h3 class="entry-title">
								<a href="../single">星河滚烫，你是人间理想</a>
								</h3>
								<p>清晨的酒点缀了昨夜的梦，吹醒八百里长风；一寸寸烟火，一帧帧画面，又是装饰了谁的耿耿星河；汽笛响起的最后一声号角，太冷，太长，太昏暗；无尽的深渊，还有多长时间。</p>
								<span>Sep 26, 2019 BY EO</span><br>
								<a class="btn btn-1" href="../single">Read More</a>
							</div>
							<div class="read-more">
								<a href="https://www.jianshu.com/p/7fece393dd4e">Continue reading …</a>
							</div>
							<div class="svg-container post-bottom-svg svg-block">
								<svg xmlns="http://www.w3.org/2000/svg" version="1.1" viewBox="0 0 1890 150">
									<g transform="translate(0,-902.36218)"></g>
									  <path d="m 898.41609,-33.21176 0.01,0 -0.005,-0.009 -0.005,0.009 z"></path>
									  <path d="m 898.41609,-33.21176 0.01,0 -0.005,-0.009 -0.005,0.009 z"></path>
									  <path d="m 1925,0 0,150 -1925,0"></path>
								</svg>
							</div>
						</div>
						
					</div>
				</div>
				<div class="row">
					<div class="col-md-4">
						<div class="box-item">
							<div class="svg-container post-svg svg-block">
								<svg xmlns="http://www.w3.org/2000/svg" version="1.1" viewBox="0 0 1950 150">
								  <g transform="translate(0,-902.36218)"></g>
								  <path d="m 898.41609,-33.21176 0.01,0 -0.005,-0.009 -0.005,0.009 z"></path>
								  <path d="m 898.41609,-33.21176 0.01,0 -0.005,-0.009 -0.005,0.009 z"></path>
								  <path d="M 0,150 0,0 1925,0"></path>
								</svg>
							</div>
							<div class="entry-thumb">
								<img class="img-responsive" src="../images/qsmy.jpg">
								<a class="thumb-link" href="../single"><i class="fa fa-link"></i></a>
							</div>
							<div class="content">
								<h3 class="entry-title">
									<a href="../single">Aliquam sed Placerat Non</a>
								</h3>
								<p>节后开发</p>
								<span>MAY 21, 2016 BY WAITINGFORFATE</span><br>
								<a class="btn btn-1" href="../single">Read More</a>
							</div>
							<div class="read-more">
								<a href="../single">Continue reading …</a>
							</div>
							<div class="svg-container post-bottom-svg svg-block">
								<svg xmlns="http://www.w3.org/2000/svg" version="1.1" viewBox="0 0 1890 150">
									<g transform="translate(0,-902.36218)"></g>
									  <path d="m 898.41609,-33.21176 0.01,0 -0.005,-0.009 -0.005,0.009 z"></path>
									  <path d="m 898.41609,-33.21176 0.01,0 -0.005,-0.009 -0.005,0.009 z"></path>
									  <path d="m 1925,0 0,150 -1925,0"></path>
								</svg>
							</div>
						</div>
					</div>
					<div class="col-md-4">
						<div class="box-item">
							<div class="svg-container post-svg svg-block">
								<svg xmlns="http://www.w3.org/2000/svg" version="1.1" viewBox="0 0 1950 150">
								  <g transform="translate(0,-902.36218)"></g>
								  <path d="m 898.41609,-33.21176 0.01,0 -0.005,-0.009 -0.005,0.009 z"></path>
								  <path d="m 898.41609,-33.21176 0.01,0 -0.005,-0.009 -0.005,0.009 z"></path>
								  <path d="M 0,150 0,0 1925,0"></path>
								</svg>
							</div>
							<div class="entry-thumb">
								<img class="img-responsive" src="../images/year.jpg">
								<a class="thumb-link" href="../single"><i class="fa fa-link"></i></a>
							</div>
							<div class="content">
								<h3 class="entry-title">
									<a href="../single">Tristique Et Vonvallis Commodo</a>
								</h3>
								<p>节后开发</p>
								<span>MAY 21, 2016 BY WAITINGFORFATE</span><br>
								<a class="btn btn-1" href="../single">Read More</a>
							</div>
							<div class="read-more">
								<a href="../single">Continue reading …</a>
							</div>
							<div class="svg-container post-bottom-svg svg-block">
								<svg xmlns="http://www.w3.org/2000/svg" version="1.1" viewBox="0 0 1890 150">
									<g transform="translate(0,-902.36218)"></g>
									  <path d="m 898.41609,-33.21176 0.01,0 -0.005,-0.009 -0.005,0.009 z"></path>
									  <path d="m 898.41609,-33.21176 0.01,0 -0.005,-0.009 -0.005,0.009 z"></path>
									  <path d="m 1925,0 0,150 -1925,0"></path>
								</svg>
							</div>
						</div>
					</div>
					<div class="col-md-4">
						<div class="box-item">
							<div class="svg-container post-svg svg-block">
								<svg xmlns="http://www.w3.org/2000/svg" version="1.1" viewBox="0 0 1950 150">
								  <g transform="translate(0,-902.36218)"></g>
								  <path d="m 898.41609,-33.21176 0.01,0 -0.005,-0.009 -0.005,0.009 z"></path>
								  <path d="m 898.41609,-33.21176 0.01,0 -0.005,-0.009 -0.005,0.009 z"></path>
								  <path d="M 0,150 0,0 1925,0"></path>
								</svg>
							</div>
							<div class="entry-thumb">
								<img class="img-responsive" src="../images/sky.jpeg">
								<a class="thumb-link" href="../single"><i class="fa fa-link"></i></a>
							</div>
							<div class="content">
								<h3 class="entry-title">
									<a href="../single">Proin Nisi Luctus To Taciti</a>
								</h3>
								<p>节后开发</p>
								<span>MAY 21, 2016 BY WAITINGFORFATE</span><br>
								<a class="btn btn-1" href="../single">Read More</a>
							</div>
							<div class="read-more">
								<a href="../single">Continue reading …</a>
							</div>
							<div class="svg-container post-bottom-svg svg-block">
								<svg xmlns="http://www.w3.org/2000/svg" version="1.1" viewBox="0 0 1890 150">
									<g transform="translate(0,-902.36218)"></g>
									  <path d="m 898.41609,-33.21176 0.01,0 -0.005,-0.009 -0.005,0.009 z"></path>
									  <path d="m 898.41609,-33.21176 0.01,0 -0.005,-0.009 -0.005,0.009 z"></path>
									  <path d="m 1925,0 0,150 -1925,0"></path>
								</svg>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		
	</div>

	<div class="svg-container footer-svg svg-block">
		
		<svg xmlns="http://www.w3.org/2000/svg" version="1.1" viewBox="0 0 1890 150">
			<g transform="translate(0,-902.36218)"></g>
			  <path d="m 898.41609,-33.21176 0.01,0 -0.005,-0.009 -0.005,0.009 z"></path>
			  <path d="m 898.41609,-33.21176 0.01,0 -0.005,-0.009 -0.005,0.009 z"></path>
			  <path d="m 1925,0 0,150 -1925,0"></path>
		</svg>
		</div>
	<!-- /////////////////////////////////////////Footer -->
	<footer>
		<div class="wrap-footer">
			<div class="container">
				<div class="row">
					<div class="col-md-4">
						<ul class="list-inline social-buttons">
							<li><a href="#"><i class="fa fa-twitter"></i></a>
							</li>
							<li><a href="#"><i class="fa fa-facebook"></i></a>
							</li>
							<li><a href="#"><i class="fa fa-linkedin"></i></a>
							</li>
						</ul>
					</div>
					<div class="col-md-4">
						<ul class="list-inline quicklinks">
							<li><a href="#">Privacy Policy</a>
							</li>
							<li><a href="#">Terms of Use</a>
							</li>
						</ul>
					</div>
	  </div>
	  </div>
	  </div>
		<div><img src="../loginimg/zg.png">
			<a href="http://beian.miit.gov.cn/">皖ICP备19017743号</a></div>
	  </footer>
	  <!-- Footer -->

	  <!-- Top Slider  bootstrap.js必須先引入jquery.js不會報錯-->
	  <script src="../js/jquery.min.js"></script>

	<!-- Menu Js -->
	<script src="../js/materialMenu.js"></script>
	<script type="text/javascript" src="../loginjs/Treatment.js"></script>
	<script>
		var menu = new Menu;
	</script>
	
	<!-- Bootstrap Core JavaScript -->
	<script src="../js/bootstrap.min.js"></script>
    <script type="text/javascript">

		//自动更新第一张图片的文字
		// var textnum=0;
	var E520 = setInterval(function () {
		// textnum++;
		// if(textnum==521){
		// 	clearInterval(E520);
		// }else{
			AjaxPost("Ajax/EO/text","", function () {
				//ajax加载中
			},function (data) {
				if(data!=null){
					$("#titleo").html("").append(data.title);
					$("#texto").html("").append(data.textE);
					console.log(data.textnum);
				}else{
					return;
				}
			});
		// }

	},20000);

		console.log(" _   _                           ____  _      _   _         _             \n" +
				"| | | | __ _ _ __  _ __  _   _  | __ )(_)_ __| |_| |__   __| | __ _ _   _ \n" +
				"| |_| |/ _` | '_ \\| '_ \\| | | | |  _ \\| | '__| __| '_ \\ / _` |/ _` | | | |\n" +
				"|  _  | (_| | |_) | |_) | |_| | | |_) | | |  | |_| | | | (_| | (_| | |_| |\n" +
				"|_| |_|\\__,_| .__/| .__/ \\__, | |____/|_|_|   \\__|_| |_|\\__,_|\\__,_|\\__, |\n" +
				"            |_|   |_|    |___/                                      |___/ ")
		console.log("__        __  _     _  \n" +
				"\\ \\      / / | |   | |\n" +
				" \\ \\ /\\ / /  | |_  | |\n" +
				"  \\ V  V / |_| | |_| |\n" +
				"   \\_/\\_/ \\___/ \\___/  ")
        //定义获取词语下标
        var a_idx = 0;
        jQuery(document).ready(function($) {
            //点击body时触发事件
            $("body").click(function(e) {
                //需要显示的词语
                var a = new Array("吴","金", "娟", "祝","你", "2019", "生","日", "快", "乐");
                //设置词语给span标签
                var $i = $("<span/>").text(a[a_idx]);
                //下标等于原来下标+1  余 词语总数
                a_idx = (a_idx + 1)% a.length;
                //获取鼠标指针的位置，分别相对于文档的左和右边缘。
                //获取x和y的指针坐标
                var x = e.pageX, y = e.pageY;
                //在鼠标的指针的位置给$i定义的span标签添加css样式
                $i.css({"z-index" : 999999999999999999999999999999999999999999999999999999999999999999999,
                    "top" : y - 20,
                    "left" : x,
                    "position" : "absolute",
                    "font-weight" : "bold",
                    "color" : "#9966FF"
                });
                //在body添加这个标签
                $("body").append($i);
                //animate() 方法执行 CSS 属性集的自定义动画。
                //该方法通过CSS样式将元素从一个状态改变为另一个状态。CSS属性值是逐渐改变的，这样就可以创建动画效果。
                //详情请看http://www.w3school.com.cn/jquery/effect_animate.asp
                $i.animate({
                    //将原来的位置向上移动180
                    "top" : y - 180,
                    "opacity" : 0
                    //1500动画的速度
                }, 1500, function() {
                    //时间到了自动删除
                    $i.remove();
                });
            });
        })
        ;
    </script>
</body>
</html>