<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Music</title>
<link rel="stylesheet" href="../logincss/APlayer.min.css">
<link rel="stylesheet" href="../logincss/APlayeru.min.css">
  <link href="../css/bootstrap.min.css" rel="stylesheet" type="text/css">
  <link href="../font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
  <link rel="stylesheet" href="../css/style.css">
  <link rel="stylesheet" href="../css/menu.min.css">
</head>
<body id="wrapper" class="keBody">
<button id="mm-menu-toggle" class="mm-menu-toggle">Toggle Menu</button>
<nav id="mm-menu" class="mm-menu">
  <div class="mm-menu__header">
    <h2 class="mm-menu__title">WAITINGFORFATE</h2>
  </div>
  <ul class="mm-menu__items">
    <li class="mm-menu__item">
      <a class="mm-menu__link" href="index">
        <span class="mm-menu__link-text"><i class="fa fa-home"></i> Home</span>
      </a>
    </li>
    <li class="mm-menu__item">
      <a class="mm-menu__link" href="index">
        <span class="mm-menu__link-text"><i class="fa fa-user"></i> Blog</span>
      </a>
    </li>
    <li class="mm-menu__item">
      <a class="mm-menu__link" href="contact">
        <span class="mm-menu__link-text"><i class="fa fa-heart"></i> Contact</span>
      </a>
    </li>
    <li class="mm-menu__item">
      <a class="mm-menu__link" href="player">
        <span class="mm-menu__link-text"><i class="fa fa-heart"></i> 播放器</span>
      </a>
    </li>
    <li class="mm-menu__item">
      <a class="mm-menu__link" href="photo">
        <span class="mm-menu__link-text"><i class="fa fa-heart"></i> 照片</span>
      </a>
    </li>
    <li class="mm-menu__item">
      <a class="mm-menu__link" href="louver">
        <span class="mm-menu__link-text"><i class="fa fa-heart"></i> 百叶照片</span>
      </a>
    </li>
    <li class="mm-menu__item">
      <a class="mm-menu__link" href="music">
        <span class="mm-menu__link-text"><i class="fa fa-heart"></i> Music</span>
      </a>
    </li>
    <li class="mm-menu__item">
      <a class="mm-menu__link" href="single">
        <span class="mm-menu__link-text"><i class="fa fa-inbox"></i> 版本更新公告</span>
      </a>
    </li>
  </ul>
</nav><!-- /nav -->
<h1 class="keTitle">Music</h1>
<div class="kePublic">
<!--效果html开始-->
<div class="container">
<!--<h1>EPlayer</h1>
<div id="player3" class="aplayer">-->
<!--<pre class="aplayer-lrc-content">
[ti:平凡之路]
[ar:朴树]
[al:《后会无期》主题歌]
[by:周敏]

[00:00.00]平凡之路 - 朴树
[00:04.01]作词：韩寒 朴树
[00:08.02]作曲：朴树 编曲：朴树
[00:12.02]徘徊着的 在路上的
[00:17.37]你要走吗
[00:23.20]易碎的 骄傲着
[00:28.75]那也曾是我的模样
[00:34.55]沸腾着的 不安着的
[00:40.26]你要去哪
[00:46.00]谜一样的 沉默着的
[00:51.75]故事你真的在听吗
[00:56.25]我曾经跨过山和大海
[00:59.55]也穿过人山人海
[01:02.70]我曾经拥有着一切
[01:05.00]转眼都飘散如烟
[01:07.75]我曾经失落失望失掉所有方向
[01:13.46]直到看见平凡才是唯一的答案
[01:31.70]当你仍然
[01:33.10]还在幻想
[01:37.40]你的明天
[01:43.00]她会好吗 还是更烂
[01:49.78]对我而言是另一天
[01:53.33]我曾经毁了我的一切
[01:56.54]只想永远地离开
[01:59.82]我曾经堕入无边黑暗
[02:02.14]想挣扎无法自拔
[02:04.79]我曾经像你像他像那野草野花
[02:10.54]绝望着 渴望着
[02:13.54]也哭也笑平凡着
[03:03.38]向前走 就这么走
[03:06.23]就算你被给过什么
[03:09.08]向前走 就这么走
[03:11.83]就算你被夺走什么
[03:14.78]向前走 就这么走
[03:17.58]就算你会错过什么
[03:20.33]向前走 就这么走
[03:23.13]就算你会
[03:25.78]我曾经跨过山和大海
[03:28.14]也穿过人山人海
[03:30.44]我曾经拥有着一切
[03:33.69]转眼都飘散如烟
[03:36.24]我曾经失落失望失掉所有方向
[03:42.04]直到看见平凡才是唯一的答案
[03:47.69]我曾经毁了我的一切
[03:50.84]只想永远地离开
[03:53.39]我曾经堕入无边黑暗
[03:56.29]想挣扎无法自拔
[03:59.04]我曾经像你像他像那野草野花
[04:04.79]绝望着 渴望着 也哭也笑平凡着
[04:10.64]我曾经跨过山和大海
[04:13.54]也穿过人山人海
[04:16.14]我曾经问遍整个世界
[04:19.49]从来没得到答案
[04:22.88]我不过像你像他像那野草野花
[04:27.64]冥冥中这是我 唯一要走的路啊
[04:34.65]时间无言
[04:36.15]如此这般
[04:40.30]明天已在眼前
[04:46.45]风吹过的 路依然远
[04:51.55]你的故事讲到了哪
</pre>-->
</div>
<!--  <h3>Wide style</h3>
  <div id="player1" class="aplayer"></div>-->
  <h1>Estyle</h1>
  <div id="player2" class="aplayer"></div>
  <div id="aplayer"></div>
</div>
<script src="../loginjs/APlayer.min.js"></script>
<script src="../loginjs/APlayeru.min.js"></script>
<script>
   /* var ap1 = new APlayer({
        element: document.getElementById('player1'),
        narrow: false,
        autoplay: false,
        showlrc: false,
        music: {
            title: 'Sugar',
            author: 'Maroon 5',
            url: 'music/Sugar.mp3',
            pic: '../loginimg/Maroon5.jpg'
        }
    });
    ap1.init();*/

   var ap = new APlayer({
     container: document.getElementById('aplayer'),
     mini: false,
     autoplay: true,
     theme: '#FADFA3',
     loop: 'all',
     order: 'random',
     preload: 'auto',
     volume: 0.7,
     mutex: true,
     listFolded: false,
     listMaxHeight: 90,
     lrcType: 3,
     audio: [
       {
         name: 'Juste une photo de toi',
         artist: 'Matt Pokora',
         url: 'https://eo-2019-1258284479.cos.ap-chengdu.myqcloud.com/music/Juste.mp3',
         cover: '../loginimg/juste.jpg',
         lrc: 'lrc1.lrc',
         theme: '#ebd0c2'
       },
       {
         name: '光るなら《四月是你的谎言》',
         artist: 'artist2',
         url: 'https://eo-2019-1258284479.cos.ap-chengdu.myqcloud.com/music/Goose.mp3',
         cover: '../loginimg/25.jpg',
         lrc: 'lrc2.lrc',
         theme: '#46718b'
       },
       {
         name: 'YOU',
         artist: 'Approaching Nirvana',
         url: 'https://eo-2019-1258284479.cos.ap-chengdu.myqcloud.com/music/Approaching%20Nirvana%20-%20You.mp3',
         cover: '../loginimg/25.jpg',
         lrc: 'lrc2.lrc',
         theme: '#46718b'
       },{
         name: '巴赫旧约',
         artist: '汪苏泷',
         url: 'https://eo-2019-1258284479.cos.ap-chengdu.myqcloud.com/music/%E5%B7%B4%E8%B5%AB%E6%97%A7%E7%BA%A6_%E6%B1%AA%E8%8B%8F%E6%B3%B7_128K.mp3',
         cover: '../loginimg/25.jpg',
         lrc: 'lrc2.lrc',
         theme: '#46718b'
       },{
         name: 'Galway Girl',
         artist: '群星',
         url: 'https://eo-2019-1258284479.cos.ap-chengdu.myqcloud.com/music/Galway%20Girl(%E6%95%B0%E5%AD%97%E4%B8%93%E8%BE%91)_Ed%20Sheeran_128K.mp3',
         cover: '../loginimg/25.jpg',
         lrc: 'lrc2.lrc',
         theme: '#46718b'
       },{
         name: '手写的从前',
         artist: '群星',
         url: 'https://eo-2019-1258284479.cos.ap-chengdu.myqcloud.com/music/%E6%89%8B%E5%86%99%E7%9A%84%E4%BB%8E%E5%89%8D_%E5%91%A8%E6%9D%B0%E4%BC%A6_128K.mp3',
         cover: '../loginimg/25.jpg',
         lrc: 'lrc2.lrc',
         theme: '#46718b'
       },{
         name: '土耳其冰淇淋',
         artist: '群星',
         url: 'https://eo-2019-1258284479.cos.ap-chengdu.myqcloud.com/music/%E5%9C%9F%E8%80%B3%E5%85%B6%E5%86%B0%E6%B7%87%E6%B7%8B(%E5%BD%A9%E9%93%83%E7%89%88)_%E5%91%A8%E6%9D%B0%E4%BC%A6_128K.mp3',
         cover: '../loginimg/25.jpg',
         lrc: 'lrc2.lrc',
         theme: '#46718b'
       },{
         name: '等你下课',
         artist: '群星',
         url: 'https://eo-2019-1258284479.cos.ap-chengdu.myqcloud.com/music/%E7%AD%89%E4%BD%A0%E4%B8%8B%E8%AF%BE_%E5%91%A8%E6%9D%B0%E4%BC%A6_128K.mp3',
         cover: '../loginimg/25.jpg',
         lrc: 'lrc2.lrc',
         theme: '#46718b'
       },{
         name: '听爸爸的话',
         artist: '群星',
         url: 'https://eo-2019-1258284479.cos.ap-chengdu.myqcloud.com/music/%E5%90%AC%E7%88%B8%E7%88%B8%E7%9A%84%E8%AF%9D.mp3',
         cover: '../loginimg/25.jpg',
         lrc: 'lrc2.lrc',
         theme: '#46718b'
       },{
         name: '开不了口',
         artist: '群星',
         url: 'https://eo-2019-1258284479.cos.ap-chengdu.myqcloud.com/music/%E5%BC%80%E4%B8%8D%E4%BA%86%E5%8F%A3_%E5%91%A8%E6%9D%B0%E4%BC%A6_128K.mp3',
         cover: '../loginimg/25.jpg',
         lrc: 'lrc2.lrc',
         theme: '#46718b'
       },{
         name: 'take me hand',
         artist: '群星',
         url: 'https://eo-2019-1258284479.cos.ap-chengdu.myqcloud.com/music/DAISHI%20DANCE%2CCecile%20Corbel%20-%20Take%20me%20hand.mp3',
         cover: '../loginimg/25.jpg',
         lrc: 'lrc2.lrc',
         theme: '#46718b'
       },{
         name: ' All I Need',
         artist: '群星',
         url: 'https://eo-2019-1258284479.cos.ap-chengdu.myqcloud.com/music/DJ%20Okawari%2CEmily%20Styler%20-%20All%20I%20Need.mp3',
         cover: '../loginimg/25.jpg',
         lrc: 'lrc2.lrc',
         theme: '#46718b'
       },{
         name: 'Lost in Paradise',
         artist: '群星',
         url: 'https://eo-2019-1258284479.cos.ap-chengdu.myqcloud.com/music/David%20Lanz%20-%20Lost%20in%20Paradise.mp3',
         cover: '../loginimg/25.jpg',
         lrc: 'lrc2.lrc',
         theme: '#46718b'
       },{
         name: 'Señorita_Camila',
         artist: '群星',
         url: 'https://eo-2019-1258284479.cos.ap-chengdu.myqcloud.com/music/Se%C3%B1orita_Camila%20Cabello%2CShawn%20Mendes_128K.mp3',
         cover: '../loginimg/25.jpg',
         lrc: 'lrc2.lrc',
         theme: '#46718b'
       },{
         name: 'The Truth that You Leave',
         artist: '群星',
         url: 'https://eo-2019-1258284479.cos.ap-chengdu.myqcloud.com/music/The%20Truth%20that%20You%20Leave_Pianoboy%E9%AB%98%E8%87%B3%E8%B1%AA_128K.mp3',
         cover: '../loginimg/25.jpg',
         lrc: 'lrc2.lrc',
         theme: '#46718b'
       },{
         name: '晴天',
         artist: '群星',
         url: 'https://eo-2019-1258284479.cos.ap-chengdu.myqcloud.com/music/%E6%99%B4%E5%A4%A9_%E5%91%A8%E6%9D%B0%E4%BC%A6_128K.mp3',
         cover: '../loginimg/25.jpg',
         lrc: 'lrc2.lrc',
         theme: '#46718b'
       },{
         name: '珊瑚海',
         artist: '群星',
         url: 'https://eo-2019-1258284479.cos.ap-chengdu.myqcloud.com/music/%E7%8F%8A%E7%91%9A%E6%B5%B7.mp3',
         cover: '../loginimg/25.jpg',
         lrc: 'lrc2.lrc',
         theme: '#46718b'
       },{
         name: '当你',
         artist: '群星',
         url: 'https://eo-2019-1258284479.cos.ap-chengdu.myqcloud.com/music/%E5%BD%93%E4%BD%A0.mp3',
         cover: '../loginimg/25.jpg',
         lrc: 'lrc2.lrc',
         theme: '#46718b'
       },{
         name: '理想三旬',
         artist: '群星',
         url: 'https://eo-2019-1258284479.cos.ap-chengdu.myqcloud.com/music/%E7%90%86%E6%83%B3%E4%B8%89%E6%97%AC.mp3',
         cover: '../loginimg/25.jpg',
         lrc: 'lrc2.lrc',
         theme: '#46718b'
       },{
         name: '老街',
         artist: '群星',
         url: 'https://eo-2019-1258284479.cos.ap-chengdu.myqcloud.com/music/%E8%80%81%E8%A1%97.mp3',
         cover: '../loginimg/25.jpg',
         lrc: 'lrc2.lrc',
         theme: '#46718b'
       },{
         name: '认真的老去',
         artist: '群星',
         url: 'https://eo-2019-1258284479.cos.ap-chengdu.myqcloud.com/music/%E8%AE%A4%E7%9C%9F%E7%9A%84%E8%80%81%E5%8E%BB.mp3',
         cover: '../loginimg/25.jpg',
         lrc: 'lrc2.lrc',
         theme: '#46718b'
       },{
         name: 'Lost in Paradise.',
         artist: '群星',
         url: 'https://eo-2019-1258284479.cos.ap-chengdu.myqcloud.com/music/David%20Lanz%20-%20Lost%20in%20Paradise.mp3',
         cover: '../loginimg/25.jpg',
         lrc: 'lrc2.lrc',
         theme: '#46718b'
       },{
         name: '开不了口',
         artist: '群星',
         url: 'https://eo-2019-1258284479.cos.ap-chengdu.myqcloud.com/music/%E5%BC%80%E4%B8%8D%E4%BA%86%E5%8F%A3_%E5%91%A8%E6%9D%B0%E4%BC%A6_128K.mp3',
         cover: '../loginimg/25.jpg',
         lrc: 'lrc2.lrc',
         theme: '#46718b'
       },{
         name: '一口气全念对',
         artist: '群星',
         url: 'https://eo-2019-1258284479.cos.ap-chengdu.myqcloud.com/music/%E4%B8%80%E5%8F%A3%E6%B0%94%E5%85%A8%E5%BF%B5%E5%AF%B9_%E5%91%A8%E6%9D%B0%E4%BC%A6_128K.mp3',
         cover: '../loginimg/25.jpg',
         lrc: 'lrc2.lrc',
         theme: '#46718b'
       },{
         name: 'Monster.',
         artist: '群星',
         url: 'https://eo-2019-1258284479.cos.ap-chengdu.myqcloud.com/music/Monster.mp3',
         cover: '../loginimg/25.jpg',
         lrc: 'lrc2.lrc',
         theme: '#46718b'
       }
     ]
   });
    // var ap2 = new APlayer({
    //     element: document.getElementById('player2'),
    //     narrow: true,
    //     autoplay: true,
    //     showlrc: true,
    //     music: {
    //         title: 'Sugar',
    //         author: 'Maroon 5',
    //         url: 'https://eo-2019-1258284479.cos.ap-chengdu.myqcloud.com/music/Juste.mp3',
    //         pic: '../loginimg/Maroon5.jpg'
    //     }
    // });
    // ap2.init();

    // var ap3 = new APlayer({
    //     element: document.getElementById('player3'),
    //     narrow: false,
    //     autoplay: false,
    //     showlrc: true,
    //     music: {
    //         title: '平凡之路',
    //         author: '朴树',
    //         // url: 'music/Sugar.mp3',
    //         url:'https://eo-2019-1258284479.cos.ap-chengdu.myqcloud.com/music/Juste.mp3',
    //         pic: '../loginimg/pf.jpg'
    //     }
    // });
    // ap3.init();
</script>
<!--效果html结束-->
<div class="clear"></div>
</div>
<script src="../js/materialMenu.js"></script>
<script src="../js/jquery.min.js"></script>
<script>
  var menu = new Menu;
</script>
<script src="../js/bootstrap.min.js"></script>
</body>
</html>