<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>播放器</title>
<!--封装好的视频布局样式-->
<link type="text/css" rel="stylesheet" href="../logincss/playerstyle.css">
<link type="text/css" rel="stylesheet" href="../logincss/jsmodern.min.css">
  <link href="../css/bootstrap.min.css" rel="stylesheet" type="text/css">
  <link href="../font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
  <link rel="stylesheet" href="../css/style.css">
  <link rel="stylesheet" href="../css/menu.min.css">
<script  type="text/javascript"  src="../loginjs/jquery.min.js"></script>
<!--mp4视频插件-->
<script   type="text/javascript" src="../loginjs/jsmodern.min.js"></script>
<style>
#video { width: 970px; height: 594px; margin: 0 auto; position: relative; }
#video video { width: 100%; height: 100%; object-fit: fill; }
.VideoBtn { position: absolute; left: 50%; top: 50%; display: block; width: 70px; height: 70px; margin-left: -35px; margin-top: -35px; cursor: pointer; z-index: 10; }
</style>

<!--视频插件调用方法-->
<script>
$(function () {
	//视频
	jsModern.video("#video");
	//播放视频
	$(".VideoBtn").click(function () {
		var video = document.getElementById("videoShow");
		video.play();
		$('.VideoBtn').hide();
	})
	//监听视频的播放状态
	var video = document.getElementById("videoShow");
	video.oncanplay = function () {
		$(".VideoBtn").show();
		//$("#video").attr("poster","");
	}
	//视频播放事件
	video.onplay = function () {
		$("#videoShow").attr("poster", "");
		$(".VideoBtn").hide();
	};
	video.onplaying = function () {
		$(".VideoBtn").hide();
	};

	//视频暂停事件
	video.onpause = function () {
		$(".VideoBtn").show();
	};
	//点击视频周围暂停播放图片出现
	video.onclick = function () {
		if (video.paused) {
			$(".VideoBtn").hide();
			video.play();
		} else {
			$(".VideoBtn").show();
			video.pause();
		}
	};
})
</script>
</head>
<body  id="wrapper" class="mkeBody">
<div class="mkeContentBox">
<!--效果html开始-->
<div id="video">
<!--  <video src="https://blz-videos.nosdn.127.net/1/OverWatch/AnimatedShots/Overwatch_AnimatedShot_Soldier76_Hero.mp4" id="videoShow"></video>-->
<!--  <video  id="videoShow" >-->
<!--    <source src="F:/Video/happybirthday.mp4" type="video/mp4">-->
<!--  </video>-->
  <video src="https://eo-2019-1258284479.cos.ap-chengdu.myqcloud.com/video/happybirthday.mp4" id="videoShow"></video>
  <span class="VideoBtn"><img src="../loginimg/bo1.png"></span>
</div>
<!--效果html结束-->
</div>
<script src="../js/materialMenu.js"></script>
<script>
  var menu = new Menu;
</script>
<script src="../js/bootstrap.min.js"></script>
</body>
</html>